body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

nav {
  margin-top: 10px;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(fonts/material-symbols-outlined.woff2)
    format(
      "woff"
    );
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

#search-nav {
  margin-bottom: 0;
}

a#theme_switcher {
  width: 40px;
  height: 40px;
}
img {
  filter: drop-shadow(
    2px
      2px
      5px
      rgba(
        0,
        0,
        0,
        0.3
      )
  );
}

img.forecast-img {
  width: 128px;
  height: 128px;
  max-width: max-content;
}

[data-theme="dark"]
  .img-container
  img {
  filter: brightness(
    1.5
  );
}

[data-theme="light"]
  .card {
  width: 250px;
  height: 250px;
  background-color: rgba(
    255,
    255,
    255,
    1
  );
  border-radius: 0.25rem;
  box-shadow: 0px
    6px
    14px
    0px
    rgba(
      0,
      0,
      0,
      0.15
    );
}

[data-theme="dark"]
  .card {
  width: 250px;
  height: 250px;
  border-radius: 0.25rem;
  background-color: #181c25;
  box-shadow: 0.0145rem
      0.029rem
      0.174rem
      rgba(
        7,
        9,
        12,
        0.01698
      ),
    0.0335rem
      0.067rem
      0.402rem
      rgba(
        7,
        9,
        12,
        0.024
      ),
    0.0625rem
      0.125rem
      0.75rem
      rgba(
        7,
        9,
        12,
        0.03
      ),
    0.1125rem
      0.225rem
      1.35rem
      rgba(
        7,
        9,
        12,
        0.036
      ),
    0.2085rem
      0.417rem
      2.502rem
      rgba(
        7,
        9,
        12,
        0.04302
      ),
    0.5rem
      1rem
      6rem
      rgba(
        7,
        9,
        12,
        0.06
      ),
    0
      0
      0
      0.0625rem
      rgba(
        7,
        9,
        12,
        0.015
      );
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.center-row-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.center-row-forecast {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  gap: 50px;
}

.center-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 0;
}

.inline {
  display: inline-flex;
  gap: 5px;
}

#weather-temp {
  font-size: 100px;
  margin-bottom: 0;
}

.overflow {
  overflow-x: auto;
  height: fit-content;
}

.arrow {
  font-size: 2.5rem;
  margin: 10px;
}

.center-row-forecast-travel {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.departure {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 30px;
  align-items: center;
  width: 10rem;
}

.middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: baseline;
}

.arrival {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 30px;
  align-items: center;
  width: 10rem;
}

.red {
  color: #ee402e;
  border-color: #ee402e;
}

.red:hover {
  background-color: transparent;
  border-color: #f17961;
  color: #f17961;
}

.unavailable {
  font-size: 70px;
}

.unavailable-container {
  display: flex;
  text-align: center;
  width: 128px;
  height: 128px;
  align-items: center;
  justify-content: center;
}

#hidden {
  display: none;
}

.footer {
  padding-left: 10px;
  position: relative;
  padding-right: 10px;
  bottom: 0;
}

main.container {
  flex: 1;
}
